<section id="creation-flow-publish" class="animate-right">
    {{!-- TODO: use handlebars helper to have logic for if any of the below are missing --}}
   <!--  <div class="errors">
        {{#unless description}}
            <p class="lowlight">Oops! You forgot to add a description.</p>
        {{/unless}}

        {{#unless title}}
            <p class="lowlight">Oops! You forgot to add a title</p>
        {{/unless}}
    </div> -->

	<div class="copyright-one">
		<li><span class="copyright-header">Privacy</span></li>
		<li><span class="copyright-subtext">Members Only</span></li>
	</div>
	<div class="copyright-two">
		<li><span class="copyright-header">Usage Rights</span></li>
		<li><span class="copyright-subtext">Editorial Use Only</span></li>
	</div>
	<div class="terms">
		<input type="checkbox" class="checkbox" id="check-agree"/>
		<label class="terms-agree" for="check-agree">I agree to the Terms and Conditions</label>
	</div>
    <button id="publish-content">Publish</button>
</section>
