<div class="container">
  <h1>404</h1>
  <p class="tag-line">Uh oh! Ghost Town!</p>
  <p class="author">by <span class="author-name">Katie Morgan</span></p>
  <p><a class="back-button">Back</a></p>
</div>