<header id="main-header" class="row">
  <nav></nav>
  <div id="related_tags_container">
  </div>
</header>
<!-- Error Notification -->
<div id="error-prompt" class="error-overlay">
  <div class="error-heading">
    <span class="error-message"></span>
  </div>
</div>

<section id="pageWrap">
    <div id="pagedata"></div>
</section>
<div id="loader" class="hide-progress">
    <div class="small progress"><div>Loading…</div></div>
    <p id="progress-info">
        <span id="message"></span>
        <span id="progress-status"></span>
    </p>
    <img src="images/loading2.gif">
</div>

</div>
<footer id="main-footer">
    <div class="row">
        <div class="social">
            <a href="https://www.facebook.com/pages/Props-Creators-Marketplace/770796632956858" class="icon-fb" target="_blank"></a>
            <a href="https://twitter.com/propitup" class="icon-twit" target="_blank"></a>
            <a href="https://instagram.com/propitup" class="icon-insta" target="_blank"></a>
        </div>
        <div class="terms">
            <span>&copy; Copyright&nbsp;<span class="current-year"></span></span>
            <a>Terms &amp; Conditions</a>
            <a href="http://blog.propitup.com/by-creators-for-creators/" target="_blank">About</a>
            <a>Contact Us</a>
            <a>Press</a>
            <a href="http://blog.propitup.com" target="_blank">Blog</a>
        </div>
    </div>
</footer>
