<div id="collection" class="row small-collapse gridView">
    <div class="view-options">
        <div class="switchFeed">
            <a class="active btn-recent">recent</a>
            <a class="btn-featured">featured</a>
            <!-- <a class="active btn-trending">trending</a> -->
            <a class="btn-popular">popular</a>
        </div>
        <div class="switchLayout">
            <a class="icon-grid-view grid"></a>
            <a class="icon-list-view list"></a>
        </div>
        <div class="search-results-none">
            <img src="images/props-full-logo.png">
            <p>Sorry, but nothing matched your search criteria. Please try again with some different keywords.</p>
        </div>
    </div>
</div>
<audio src="" id="audio-preview-player"></audio>
<video muted id="video-preview-player"></video>
