<section id="login-flow">
    <div id="logo">
        <img src="images/props-full-logo.png">
    </div>
    <section id="login-form">
        <input id="username" placeholder="Username or Email" value=""></input>
        <input type="password" id="password" placeholder="Password" value=""></input>
	<a class="forgot-password">Forgot Password?</a>
	<div class="buttons">
        <a href="javascript:void(0);" id="login-btn">Login</a>
		<a href="javascript:void(0);" id="register-btn">Register</a>
	</div>

	<div class="connect-social">
		<span>Connect with your social account</span>
		<div class="social-icons">
			<a href= "https://www.facebook.com/pages/Props-Creators-Marketplace/770796632956858" class="icon-fb">Connect</a>
			<a href="https://twitter.com/propitup" class="icon-twit">Connect</a>
		</div>
	</div>
<!--         <a href="">Connect</a>
        <a href="">Connect</a> -->
    </section>
</section>