{{#if display}}
<div id="suggest-search">
<!--	<h1 class="categories">CATEGORIES</h1>-->
	<br>
	{{#each tags}}
	<a class="suggested">{{this.attributes.title}}</a>
	{{/each}}
	<br>
</div>
<!--
<div id="see-more">
	<span class="see-more">See More</span>
</div>
-->
{{/if}}
