.content-copy {
    padding: 1em;
    width: 100%;

    .image_edit {
        display: none;
    }
}

#content-main-layout {
	.column {

		.video-player-wrapper video {
			width: 100%;
		}

		.content-copy {
			border: 1px solid black;
		}
	}
}

.content-edit-view {

    .audio-item {

        &:hover {
            @include props-global-box-shadow-outer;
        }
    }
}
