.login-prop-notification, .login-comment-notification {
  height: 66px;
  width: 192px;
  background-color: #000;
  color: #fff;
  text-align: center;
  position: absolute;
  top: -101px;
  left: -76px;
  font-size: 14px;
  font-weight: bold;
  padding: 22px 13px;
  display: none;
}

.gridView .login-prop-notification {
  top: -22px;
  left: 41px;
}

.login-comment-notification {
  left: 200px;
  top: -27px;
  padding: 12px;
  width: 164px;
}

// .login-comment-notification {
//             visibility: none;
//             opacity: 0;
//             -webkit-transition: opacity .25s ease;
//             -moz-transition: opacity .25s ease;
//             transition: opacity .25s ease;
//             &.show {
//                 visibility: none;
//                 opacity: 1;
//             }
//         }