$font-family-base: 'proxima-nova', Helvetica, sans-serif;

//Proxima Nova font is hosted by typekit
@mixin proxima-nova-regular(){
	font-family: 'proxima-nova', Helvetica, sans-serif;
	font-weight: 400;
}

@mixin proxima-nova-bold(){
	font-family: 'proxima-nova', Helvetica, sans-serif;
	font-weight: 700;
}

@font-face {
    font-family: 'BLOKKRegular';
    src: url('../../fonts/BLOKKRegular.eot');
    src: url('../../fonts/BLOKKRegular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/BLOKKRegular.woff') format('woff'),
         url('../../fonts/BLOKKRegular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
