
/* Typography
---------------------------------------------------*/
$font-size-base: 16px;

/* Colors
---------------------------------------------------*/
$black: #000;
$dark-grey: #2e2e2e;
$grey: #494949;
$light-grey: #a3a3a3;

$pink: #D5514D;

$white: #fff;

$blue-green: #00ffff;

$drop-shadow-color: rgba(118, 115, 115, 0.3);
$button-border: 3px solid #000;

$play-pause-background-color: rgba(0,0,0,.5);

/* Layout
---------------------------------------------------*/
$global-edge-margin: 32px;

/* Page Headings
---------------------------------------------------*/
$global-page-heading: 2.5em;

/* Navigations
---------------------------------------------------*/
$global-nav-font-size: 14px;
$global-nav-hover-underline: $light-grey;

/* To discontinue these variables
---------------------------------------------------*/
$medium-grey: #a3a3a3;
$nav-element-border-grey: #f3f3f3;
$nav-dropdown-text-gray: #A2A2A2;
$tag-border-grey: #f3f3f3;
$stat-icons-grey: #a7a7a7;
$link-hover-grey: #a3a3a3;