@import '_fonts';
@import '_reset';
@import '_variables';
@import '_mixins';
@import '_breakpoints';
@import '_global';
@import '_fonticons';
@import '_utility';
@import '_grid';
@import '_typography';
@import '_header';
@import '_feed';
@import '_footer';

@import 'modules/_image-update-buttons';
@import 'modules/_error';
@import 'modules/_loader';
@import 'modules/_login-prop-notification';
@import 'modules/_audio-player';
@import 'modules/_video-player';
@import 'modules/_content-pieces';

@import 'pages/_creation-flow';
@import 'pages/_login';
@import 'pages/_profile';
@import 'pages/_content';
@import 'pages/_content-edit';
@import 'pages/_settings';
@import 'pages/_404';
@import 'pages/_admin';
@import '_mobile';

/*Sticky Footer - */
#pageWrap, #main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 0px;
 overflow: auto;
&:after {
  content: "";
  display: block;

  }
}

// Disable body scroll during Content model overlay
.no-scroll {
  overflow: hidden;
}
