<div class="column small-12 sortable">
    <div class="content-copy content-item">
        {{> contentEditButtons}}

        <div class="delete-confirmation">
          <p>Are you sure you want to go ahead and delete? <span class="delete-yes">yes</span> or <span class="delete-no">no</span></p>
        </div>

        <div id="add-text-edit">

        </div>

    </div>
</div>